
* {
font-family: "Fira Sans", sans-serif;
font-size: 16px;
}

#logo {
    max-width: 400px;
    margin: 0 auto;
}

nav img {
    max-width: 100%;
    height: auto;
}


.column-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px 10px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #1b1448;
    text-align: center;
}

h1 i {
    font-size: 30px;
    margin-right: 15px;
}

.box-column-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 2px solid #1b1448;
    width: 80%;
    max-width: 700px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
}

button {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    padding: 5px 10px;
}

button:hover {
    background-color: #aea9d1;
}

button i {
    margin-right: 8px;
    font-size: 20px;
}

#questions-screen-box  {
    display: none;
    min-height: 160px;
    justify-content: space-between;
    margin-top: 50px;
}

#question {
    font-size: 18px;
    text-align: center;
}

#questions-buttons-group {
    display: flex;
    flex-flow: row wrap;
    gap: 20px 20px;
    justify-content: center;
    
}

#questions-buttons-group button {
    width: 120px;
}

#results-screen-box {
    display: none;
}